body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("background.jpg");
    background-size: cover;
    margin: 0;
    text-align: center;
    color: white;

}

h1 {
    color: goldenrod;
    font-size: 50px;
}

#message-el {
    font-size: 30px;
    font-style: italic;
}
p {
    font-size: 20px;
}

button {
    background-color: goldenrod;
    color: rgb(5, 63, 18);
    width: 150px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}